<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Orders</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/create">Create Order</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/list">Orders List</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/create">Add Order</a></li>
        <li class="breadcrumb-item">List</li>
    </ol>
    <h4> This is orders list </h4>

    <table class="table">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Order Title</th>
            <th scope="col">Body</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>

        <% orders.forEach(function (order) { %>
            <tr>
                <td> <%= order.id %> </td>
                <td> <%= order.title %> </td>
                <td> <%= order.body %> </td>
                <td>
                    <a href="/edit/<%= order.id %>" class="btn btn-primary btn-sm">Edit</a>
                    <form class="d-inline"  action="/delete/<%= order.id %>" method="post">
                        <input type="submit" value="Delete" class="btn btn-danger btn-sm">
                    </form>
                </td>
            </tr>
        <% }) %>

        </tbody>
    </table>
</div>

